<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Coffee Cravers</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header class="navbar bg-brand">
    <nav class="container-fluid">
      <h1 class="navbar-brand">
        <a href="/" class="anchor-brand">Coffee Cravers</a>
      </h1>
      <div class="d-flex">
                <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a class="btn btn-outline-success me-2" href="/memberProfile">PROFILE</a> 
        <a class="btn btn-outline-success" id="logout">LOGOUT</a>
        {{else}}
        <a class="btn btn-outline-success me-2" href="/login">LOGIN</a>
        <a class="btn btn-outline-success" href="/signup">SIGNUP</a>
        {{/if}}
       
      </div>
    </nav>
  </header>


  <main class="container">
    <div class="row m-3">
   {{{body}}}
   </div>
  </main>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  
</body>
</html>