
<div class="card" style="width: 18rem;">
  <img src="https://images.unsplash.com/photo-1610632380989-680fe40816c6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">Korinna Blend</h5>
    <p class="card-text">A well balanced blend of Ethiopian Mocha and Java Mountain Supreme.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

{{#each drinks as |drink| }}
<div class="col">
<div class="card" style="width: 18rem;">
  <img src="{{drink.image}}" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">{{drink.name}}</h5>
    <p class="card-text">{{drink.description}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>
{{/each}}