 <div class="container mt-5">
        <div class="mb-3">
            <label class="form-label">Email address</label>
            <input class="form-control"  placeholder="name@example.com">
          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input class="form-control"  placeholder="Enter Password">
            <button class="btn btn-outline-success mt-2">Login</button>
          </div>  
</div>

<script src="./js/login.js"></script>
