 <div class="container mt-5">
  <h2>Login</h2>
    <form class="form login-form">
      <div class="mb-3">
        <label class="form-label"  for="email-login">Email address</label>
        <input class="form-control" placeholder="name@example.com" id="email-login"/>
      </div>

      <div class="mb-3">
        <label class="form-label" for="password-login">Password</label>
        <input class="form-control"  placeholder="Enter Password" id="password-login" type="password"/>
        <button class="btn btn-outline mt-2" type="submit ">Login</button>
      </div>  


    </form>  
</div>

<script src="./js/login.js"></script>
