
<h2> Welcome, {{name}}! </h2>
{{#if drinks.length}}

<h3>My Faves:</h3>

{{#each drinks as |drink| }}
<div class="card" style="width: 18rem;">
  <img src="{{drink.image}}" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">{{drink.name}}</h5>
    <p class="card-text">{{drink.description}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
{{/each}}

{{/if}}