 <div class="container mt-5">
  <h2>Signup</h2>
    <form class="form signup-form">
       <div class="mb-3">
        <label class="form-label" for="name-signup"> Enter Name</label>
        <input class="form-control"  placeholder="Lilly Green" id="name-signup"/>
      </div>

      <div class="mb-3">
        <label class="form-label" for="email-signup"> Enter Email address</label>
        <input class="form-control"  placeholder="name@example.com" id="email-signup"/>
      </div>

      <div class="mb-3">
        <label class="form-label" for="password-signup"> Enter Password</label>
        <input class="form-control"  placeholder="Create Password" id="password-signup" type="password"/>
        <button class="btn btn-outline mt-2" type="submit ">Signup</button>
      </div>  


    </form>  
</div>

<script src="./js/signup.js"></script>
