:root {
    --sil: #C9B7AD;
    --brown: #54311a;
  }
  
body {
    background-color: var(--sil);
  }

.anchor-brand {
    text-decoration: none;
    color: var(--brown);
    font-size: 40px;
}


.bg-brand {
    background-color: rgb(216, 215, 215);
}

.card-body {
    background-color: rgb(216, 215, 215);
}


.btn  {
    background-color: var(--brown);
    color: white;
}

.btn:hover {
    background-color: white;
    color: var(--brown);
    border: solid thin var(--brown);
}

.navbar-brand {
    margin: 0;
    padding: 0;
}

.navbar-brand img {
    max-height: 100%;
}

h2, h3 {
    color: var(--brown);
}